@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .card-box {
    @apply relative mx-auto flex size-20 rounded-xl border *:relative *:m-auto *:size-7 before:absolute before:inset-0 before:rounded-[11px] before:border-t before:border-white before:bg-gradient-to-b before:from-gray-100 before:shadow dark:border-white/15 dark:bg-gray-900 dark:before:border-white/20 dark:before:from-white/10 dark:before:to-transparent dark:before:shadow-gray-950;
  }

  .card-box-hover {
    @apply absolute inset-0 aspect-video -translate-y-1/2 rounded-full border bg-gradient-to-b from-blue-500 to-white opacity-25 blur-2xl duration-300 group-hover:-translate-y-1/4 dark:from-white dark:to-white dark:opacity-5 dark:group-hover:opacity-10;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.9);
      opacity: 0.7;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0.7;
    }
  }

  /* Apply the pulsating animation to the dot */
  .dot {
    animation: pulse 2s infinite;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  #__next {
    @apply contents;
  }

  html {
    @apply h-full scroll-smooth antialiased;
  }

  body {
    @apply flex h-full flex-col text-stone-600;
  }

  main {
    @apply grow;
  }

  .section {
    @apply py-24;
  }

  .container {
    @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
  }

  .title {
    @apply font-bold tracking-tight;
  }
}
